@model WTTechPortal.Models.tasklist

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>tasklist</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="id" />
        <div class="form-group">
            <label asp-for="actionitem" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="actionitem" class="form-control" />
                <span asp-validation-for="actionitem" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="comments" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="comments" class="form-control" />
                <span asp-validation-for="comments" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="completedate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="completedate" class="form-control" />
                <span asp-validation-for="completedate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="desiredcompdate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="desiredcompdate" class="form-control" />
                <span asp-validation-for="desiredcompdate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="hours" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="hours" class="form-control" />
                <span asp-validation-for="hours" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="org" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="org" class="form-control" />
                <span asp-validation-for="org" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="owner" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="owner" class="form-control" asp-items="ViewBag.owner"></select>
                <span asp-validation-for="owner" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="priority" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="priority" class="form-control" asp-items="ViewBag.priority"></select>
                <span asp-validation-for="priority" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="status" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="status" class="form-control" asp-items="ViewBag.status"></select>
                <span asp-validation-for="status" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="task" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="task" class="form-control" />
                <span asp-validation-for="task" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="updateddate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="updateddate" class="form-control" />
                <span asp-validation-for="updateddate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="workcode" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="workcode" class="form-control" asp-items="ViewBag.workcode"></select>
                <span asp-validation-for="workcode" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

