@model WTTechPortal.Models.tasklist

@{
    ViewData["Title"] = "Edit a Task";
    
}


<h2>Edit a Task</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Task List</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="id" />
        <div class="form-group">
            <label asp-for="task" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="task" class="form-control" />
                <span asp-validation-for="task" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="actionitem" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="actionitem" class="form-control" />
                <span asp-validation-for="actionitem" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="status" class="col-md-2 control-label"></label>
            <div class="col-md-10">

                <select asp-for="status"
                        asp-items="ViewBag.statuslist">
                    <option>Please Select a Status</option>
                </select>
                <span asp-validation-for="status" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="owner" class="col-md-2 control-label"></label>

            <div class="col-md-10">
                <select asp-for="owner"
                        asp-items="ViewBag.ownerlist">
                    <option>Please Select a Owner</option>
                </select>
                <span asp-validation-for="owner" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="priority" class="col-md-2 control-label"></label>

            <div class="col-md-10">
                <select asp-for="priority"
                        asp-items="ViewBag.priorities">
                    <option>Please Select a Priority</option>
                </select>
                <span asp-validation-for="priority" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="comments" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="comments" class="form-control" />
                <span asp-validation-for="comments" class="text-danger" />
            </div>
        </div>
@if (this.User.IsInRole("Administrator"))
{ 
        <div class="form-group">
            <label asp-for="workcode" class="col-md-2 control-label"></label>
            
            <div class="col-md-10">
                <select asp-for="workcode"
                        asp-items="ViewBag.workcodelist">
                    <option>Please Select a Work Code</option>
                </select>
                <span asp-validation-for="workcode" class="text-danger" />
            </div>
        </div>

    <div class="form-group">
        <label asp-for="hours" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="hours" class="form-control" />
            <span asp-validation-for="hours" class="text-danger" />
        </div>
    </div>
}
        <div class="form-group">
            <label asp-for="desiredcompdate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="desiredcompdate" class="form-control datetimepicker" />
                <span asp-validation-for="desiredcompdate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="completedate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="completedate" class="form-control datetimepicker" />
                <span asp-validation-for="completedate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="updateddate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="updateddate" readonly value="@System.DateTime.Now" class="form-control" />
                <span asp-validation-for="updateddate" class="text-danger" />
            </div>
        </div>
        <div class="form-group" hidden>
            <label asp-for="org" hidden class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="org"  hidden class="form-control" />
                <span asp-validation-for="org" hidden class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
