@model WTTechPortal.Models.site_config

@{
    ViewData["Title"] = "Edit Site Configuration";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>site_config</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="id" />
        <div class="form-group">
            <label asp-for="adminemail" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="adminemail" class="form-control" />
                <span asp-validation-for="adminemail" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="smtppassword" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="smtppassword" class="form-control" />
                <span asp-validation-for="smtppassword" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="smtpport" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="smtpport" class="form-control" />
                <span asp-validation-for="smtpport" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="smtpserver" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="smtpserver" class="form-control" />
                <span asp-validation-for="smtpserver" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="sslenabled" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="sslenabled" class="form-control" />
                <span asp-validation-for="sslenabled" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="sendasemail" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="sendasemail" class="form-control" />
                <span asp-validation-for="sendasemail" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="smtpuser" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="smtpuser" class="form-control" />
                <span asp-validation-for="smtpuser" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
