@using Microsoft.AspNetCore.Identity 
@using WTTechPortal.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (!(this.User.IsInRole("Administrator")) && SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log off</button>
            </li>
        </ul>
    </form>
}
@if (this.User.IsInRole("Administrator"))
{
    <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul id="nav" class="nav navbar-nav navbar-right">

            <li>
                <a href="#">System Management</a>
                <ul>
                    <li>
                        <a asp-area="" asp-controller="Account" asp-action="Register">Create User</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Account" asp-action="CreateRole">Create Role</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="asset_type" asp-action="Index">Manage Asset Types</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="asset_opertaingsystem" asp-action="Index">Manage Asset OS Types</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="asset_model" asp-action="Index">Manage Asset Model Types</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="asset_status" asp-action="Index">Manage Asset Status Types</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="org_list" asp-action="Index">Manage Orginzations</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="site_config" asp-action="Index">Site Configuration</a>
                    </li>
                </ul>
            <li>
            <li>
                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log off</button>
            </li>
        </ul>
    </form>

    
}
@if(!(this.User.Identity.IsAuthenticated))
{
    <ul class="nav navbar-nav navbar-right">
       
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>
}
