@model WTTechPortal.Models.Login.aspnetuserroles

@{
    ViewData["Title"] = "Edit a Task";
}

<h2>Edit a Task</h2>



<div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
